:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*basic settings // configuração básica*/
body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 16px;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    /*margin-left: 5px;*/
}

header nav a{
    color: #aaa;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

header nav a:hover{
    color: #fff;
}
/*main content // conteúdo principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.705),rgba(0,0,0,.100%)), url(/img/blindspot-wallpaper-preview.jpg);
    
    background-size: cover;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    /*border-color: white;
    border-style: solid;*/

    /*padding-left: 16px;*/

}
.container{
    margin-left: 16px;
}

.filme-principal .descricao{
    margin-bottom: 30px;
}

.filme-principal .container{
    width: 70%;
    margin-bottom: 5%;
}

.titulo{
    margin-top: 25%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
.btns{
    display: flex;

}
.btn{
    background-color: rgba(0, 0, 0, 0.50);
    padding: 15px 35px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;

    cursor: pointer;
    transition: 1s;
}

.btn:hover{
    background-color: white;
    color: black;
}

.btn i{
    margin: 5px;
}
.box-filme{
    height: 100%;
    width: 100%;
    /*display: block;*/
}
.carrossel-filmes{
    margin-top: 10px;
}
